.footer {
	/*position: fixed; was the original setting*/
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    text-align: center;
}

.body
{
	height: 80%;
}